__pycache__/
*.pyc
.venv/
.env
.DS_Store
data/
/assets/Disputant1.blend
/assets/Disputant1.blend1
/assets/Disputant2.blend
/assets/Disputant2.blend1
/assets/MediatorA.blend
/assets/MediatorA.blend1
/assets/MediatorB.blend
/assets/MediatorB.blend1
/assets/DefaultCharacter.blend
/assets/DefaultCharacter.blend1
/audio/*
/out/_tmp/*
/out/blender_render_frames/*
/scenes/base_scene.blend
/scenes/base_scene.blend1